
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #121212;
    color: #00ff99;
    text-align: center;
    margin: 0;
    padding: 0;
}

#content-wrapper {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

/* Menú de pestañas */
#tabs-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #22007c;
    padding: 15px;
}

.tab-link {
    font-size: 1em;
    padding: 12px;
    width: 100%;
    max-width: 150px; /* Limita tamaño en desktop */
}

/* Ajustes específicos para móviles */
@media (max-width: 600px) {
    body {
        font-size: 14px; /* Texto más legible */
    }

    #tabs-menu {
        flex-direction: column; /* Menú en columna */
    }

    .tab-link {
        width: 100%; /* Que ocupe todo el ancho en móvil */
    }

    .tab-content {
        padding: 15px;
    }
}
